$color-primary-light: #6db2f7;
$color-primary: #0e4ebb;
$color-primary-dark: #182136;

$grey-light: #F8FAFC;
$grey-medium: #7C8DA3;
$grey-dark: #2e3a52;

$color-black: #000000;
$color-white: #ffffff;

$font-small: 0.7em;
$font-regular: 1em;
$font-medium: 1.4em;
$font-big: 2.1em;
$font-large: 2.4em;


$text-shadow-dark: 0 6px 15px rgba(0, 0, 0, 0.25);
$text-shadow-light: 0 3px 12px rgba(255, 255, 255, 0.2);


$bp-large: 1200px;
$bp-medium: 992px;
$bp-tablet: 768px;
$bp-mobile: 576px;